.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
  font-weight:800;
  font-size:45px;
}
.mary-color{
  color:#FD6E0A;
}
nav ul{
  display: flex;
  align-items: center;
}

nav ul li{
  list-style:none;
  margin:50px;
}
nav li a{
  text-decoration:none;
  font-size:20;
}
.dark-2{
  color:#474747;
}
.btn{
  font-weight:bold;
  font-size:20px;
  color:white;
  background-color:#FD6E0A;
  border-radius:5px;
  border:none;
  padding: 18px 35px;  
}
.main-header{
  background-image:url('../images/developer.png'),url(../images/header_bg.png);
  background-position:top left, bottom right;
  background-repeat:no-repeat;
}

.banner{
  display:flex;
  justify-content:space-between;
  margin:0 200px 320px;
  gap: 2px;00px;

}

.banner-greetings{
  font-weight:700;
  font-size:45px;
  color:#474747;
}
.banner-name{
  font-weight:bold;
  font-size:85px;
  color:#181818;
}
.banner-details{
  font-weight:400;
  font-size:18px;
  color:#757575;
}
.profile-image{
  width:584px;
  height:676px;

}